/* ____________ */

/* inconsolata-regular - latin */

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/inconsolata-v31-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/inconsolata-v31-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* GENERAL */

h3 {
	color: grey;
}

a {
	color: hotpink; 
}

.divider {
	font-family: 'Inconsolata';
}

/* SPECIAL */

.provocations img {
	max-width: 100%;
	border: dashed 2px black;
}

.magic {
	padding-top: 23vh;
	font-family: monospace;
	font-size: 4rem;
	background-color: greenyellow;
}

.nextlink {
	padding-top: 10vh;
	text-align: right;
}

/* MOBILE */

@media (min-width: 768px) {

	.magic {
	padding-top: 13vh;
	font-family: monospace;
	font-size: 2rem;
	background-color: greenyellow;
}
	
}